/*Heading banner*/
    h1 {
        display: inline-block;
        text-align: center;
        background-color: blue;
        color: rgb(255, 255, 255);
        padding: 6px 12px;
        
    }

    Header{
        padding: 20px;
        text-align: center;
        position: fixed;
        width:100%;
        border-color: black;
        border-style: groove;
        background-color: blue;
        z-index: 2;
        top: 0;
        left: 0;
    }
/*Main background image and text*/
    .Background{
        padding-top: 90px;
        position: relative;
        border-width: 5px;
        border-style: solid;
        margin: auto;    
    }

    .welcome{
        color: rgb(30, 45, 210);
        position: absolute;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        right: 200px;
        top: 100px;
        font-size: 50px;
        border-style: double;
        border-color: black;
        
    }
    .backing{
        align-self: center;
        height: 100%;
        width: 100%;
    }

/*Nav bar components*/
    .main-nav{
        text-align: center;
        position: sticky;
        top: 128px;
        bottom:0;
    }
    nav{
        background-color: rgb(157, 157, 157);
        padding: 20px;
        
    }
    nav ul{
        white-space: nowrap;
        max-width: 1200px;
        margin: 0 auto;
        z-index: 2;
        
    }
    nav li{    
        width: 25%;
        display: inline-block;
        z-index: 2;
    }
    nav li a:hover{
        text-decoration: underline;
    }
    nav li a{
        font-size: 20px;
        text-decoration: none;
        color: white;
    }
/* About me section*/
    main img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        width: 250px;
    }
    main h2{
        text-align: center;
        padding-top: 150px;
        padding-bottom: 50px;
    }

    main article{
        font-size: 1.25em;
        line-height: 1.5em;
        display: flex;
        padding-bottom: 100px;
        margin-left: 20%;
        margin-right: 20%
    }
    .main-project{
        padding-top: 100px;
        text-align: center;
        max-width: 100%;
        width: 1500px;
        margin: 0 auto;
    }
    .main-project h2{
        font-size: 40px;
        text-decoration: underline;
    }

/*Flex Containers*/
        .flex-container{
            display: flex;
            flex-wrap: wrap;
            border: 6px solid black;
            margin-bottom: 50px;
        }

        .flex-item{
            width: 300px;
            color: grey;
            font-size: 1.5em;
            padding: 1rem;
            text-align: center;
            height: 350px;
            flex-grow: 1;
        }
            .flex-item a{
                color: white;
            }
        .flex-item h3{
            border: 2px solid grey;
            border-radius: 25px;
            background-color: black;
        }
            .proj-img{
                height: 200px;
                width: 250px;
                color: white;
            }
            .placeholder{
            height: 200px;
            width: 250px;
            }
        .one{
            max-width:97.9%;
            flex: 1 0 100%;
            background-color: purple;
        }
        .one h3{
            max-width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
        .two{
            background-color: aqua;
        }
        .two a{
            color: black;
        }
        .three{
            background-color: blueviolet;
        }
        .four{
            background-color: yellow;
        }
        .four a{
            color:black;
        }
        .five{
            background-color: red;
        }

        .flex-item:hover{
            border: 5px solid white;
        }
/*Footer with contact info*/        
    footer{
        padding-bottom: 50px;
        font-size: 30px;
        text-align: center;
    }
    footer p{
        display: inline;
    }
    .yahoo{
        width: 30px;
        height: 30px;
    }
    .git{
        width: 30px;
        height: 30px;
    }
/*Media query section*/
@media screen and (max-width:1400px)
{
    .welcome{
        display: none; 
    }  
    nav li a{
        font-size: 18px;
    }
    footer{
        font-size: 20px;
    }
}

@media screen and (max-width:800px)
{
    .welcome{
        display: none;       
    }
    .main-nav{
        top: 0;
    }  
    nav li a{
        font-size: 20px;
    }
    nav li{
        display: block;
        width: 100%;
        margin: 12px;        
    }
    footer{
        font-size: 15px;
    }
    header{
        position: relative;
        padding: 0;
    }
    h1{
        font-size: 18px;
    }
    .Background{
        padding: 0;

    };

}
